<h1 style="color:blue">Muslcepedia Fitness Web-app </h1>
<div class="row">
  <div class="col-xs-12">
    <h2>High-level components of {{title}} will include...</h2>
    <ol>
      <li>Musclemap Page</li>
      <li>Calendar Page</li>
      <li>Workout Info Page</li>
      <li>Workout List Page</li>
      <li>Muscle info page</li>
      <li>Create new workout page</li>
      <li>Edit (or remove) old workout page</li>
      <li>Current workout page</li>
      <li>Personal stats page</li>
      <li>Favorited workouts page</li>
    </ol>
  </div>
</div>

<app-calendar></app-calendar>
<app-musclemap></app-musclemap>


